{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
	<div class="text-right">
		<a href="{% url 'home_page' %}" class="btn btn-danger btn-sm">Back</a>
	</div>
	<br>
	<div>
		<div class="card">
			<div class="card-header">
				{{ post.title }}
			</div>
			<div class="card-body">
				<small class="card-subtitle text-muted">{{ post.user }} - {{ post.published }}</small><br>
				{{ post.body }}
			</div>
			<hr>
			<div class="mx-2">
				{% include "includes/messages.html" %}
			</div>
			{% for comment in comments %}
			{% include "includes/comment.html" with comment=comment %}
			{% for reply in comment.comment_set.all %}
				<div class="ml-4" style="border-left:#333 1px solid">
					{% include "includes/comment.html" with comment=reply %}
				</div>
			{% endfor %}
			{% empty %}
			<p class="text-center">There is no comments! <br> <small>Be the first one who comment</small></p>
			{% endfor %}
			{% include "includes/reply-form.html" %}
		</div>
	</div>
</div>
<div class="modal fade" id="replymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              	{% include "includes/reply-form.html" %}  
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="/static/blog/post_detail.js"></script>
{% endblock js %}